<section class="content">
    <p class="h4 text-primary" th:text="#{html-password_recovery_mail-greeting_1(${name})}"></p>
    <p th:utext="#{html-password_recovery_mail-greeting_2(#{html-password_recovery_mail-username(${username})})}"></p>

    <p th:text="#{html-password_recovery_mail-not_you}"></p>
    <p th:text="#{html-password_recovery_mail-hint_1}"></p>

    <p class="center-content">
        <a class="btn"
           th:href="|${backendUrl}/v2/self-service/recovery/password/reset/${token}?language=${#locale}|"
           th:text="#{html-password_recovery_mail-reset_password}">
        </a>
    </p>

    <p>
        <span th:text="#{html-password_recovery_mail-hint_2}"></span> <br>
        <span th:text="#{html-password_recovery_mail-hint_3}"></span> <br>
    </p>

    <p th:text="#{html-password_recovery_mail-hint_4}"></p>
</section>
