<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:lang="${#locale}"
  class="mdui-theme-auto"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${recipe.label}">FlavorMate</title>
    <link
      rel="icon"
      th:href="|${backendUrl}/icons/icon.png|"
      type="image/png"
    />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/material.css" />
    <link rel="stylesheet" href="/libraries/mdui-2.1.3/mdui.css" />

    <script src="/libraries/mdui-2.1.3/mdui.global.js"></script>
    <script src="/libraries/mdui-2.1.3/theme.js"></script>

    <script th:utext="${json}" type="application/ld+json"></script>
  </head>
  <body>
    <main>
      <section class="content column">
        <mdui-card class="column header p-16">
          <div>
            <span th:text="#{public-recipe_app-hint-1}" th:remove="tag" />
            <br />
            <span th:text="#{public-recipe_app-hint-2}" th:remove="tag" />
            <br />
            <span th:text="#{public-recipe_app-hint-3}" th:remove="tag" />
          </div>

          <img
            width="180px"
            height="60px"
            th:src="${'/icons/open-in/app/'+#locale+'.png'}"
            th:onclick="window.location.href=[[${appUrl}]]"
            style="cursor: pointer; align-self: center"
          />
        </mdui-card>
        <div class="split-content">
          <mdui-card style="flex-basis: 50%; width: 100%">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              th:src="${recipe.coverUrl}"
              alt="Recipe Image"
            />
          </mdui-card>
          <div style="flex-basis: 50%" class="column center-column">
            <h1 th:text="${recipe.label}" />
            <span
              th:if="${recipe.description != null}"
              class="h4 text-primary"
              th:text="${recipe.description}"
            />

            <mdui-card th:if="${!recipe.prepTime.isZero()}" class="p-16">
              <h4 th:text="#{public-recipe_prep-time} + ':'" />
              <h3 th:text="${prepTime}" />
            </mdui-card>
            <mdui-card th:if="${!recipe.cookTime.isZero()}" class="p-16">
              <h4 th:text="#{public-recipe_cook-time} + ':'" />
              <h3 th:text="${cookTime}" />
            </mdui-card>
            <mdui-card th:if="${!recipe.restTime.isZero()}" class="p-16">
              <h4 th:text="#{public-recipe_rest-time} + ':'" />
              <h3 th:text="${restTime}" />
            </mdui-card>
          </div>
        </div>

        <div class="split-content">
          <div style="flex-basis: 50%" class="column">
            <h2 th:text="#{public-recipe_ingredients-title}" />
            <span th:text="${recipe.serving}" />

            <div th:each="group : ${recipe.ingredientGroups}">
              <h4 th:if="${group.label != null}" th:text="${group.label}" />
              <ul>
                <li
                  th:each="ingredient : ${group.ingredients}"
                  th:text="${ingredient}"
                />
              </ul>
            </div>
          </div>
          <div style="flex-basis: 50%" class="column">
            <h2 th:text="#{public-recipe_instructions-title}" />
            <div th:each="group : ${recipe.instructionGroups}">
              <h4 th:if="${group.label != null}" th:text="${group.label}" />
              <ol>
                <li
                  th:each="step : ${group.instructions}"
                  th:text="${step.label}"
                />
              </ol>
            </div>
          </div>
        </div>

        <section class="column" style="gap: 8px">
          <h2 th:text="#{public-recipe_informations-title}" />
          <div class="row center-row">
            <mdui-chip th:text="${diet}" />
            <mdui-chip th:text="${course}" />
          </div>
        </section>

        <section class="column" style="gap: 8px">
          <h2 th:text="#{public-recipe_categories-title}" />
          <div class="row center-row">
            <mdui-chip
              th:each="category : ${recipe.categories}"
              th:text="${category.label}"
            />
          </div>
        </section>

        <section class="column" style="gap: 8px">
          <h2 th:text="#{public-recipe_tags-title}"></h2>
          <div class="row center-row">
            <mdui-chip th:each="tag : ${recipe.tags}" th:text="${tag.label}" />
          </div>
        </section>

        <section class="column" style="gap: 8px">
          <h2 th:text="#{public-recipe_published-title}"></h2>
          <div class="row center-row">
            <span th:text="${#dates.format(recipe.createdOn, 'dd.MM.yyyy')}" />

            <div>
              <span th:text="#{public-recipe_version-title}" th:remove="tag" />:
              <span th:text="${recipe.version}" th:remove="tag" />
            </div>
          </div>
        </section>
        <section class="row center-row">
          <mdui-button
            th:if="${recipe.url != null}"
            variant="filled"
            th:href="${recipe.url}"
            target="_blank"
            th:text="#{public-recipe_open-original}"
          />
        </section>
      </section>
    </main>
  </body>
</html>
