<form
  method="POST"
  th:action="|${backendUrl}/v2/self-service/recovery/password/reset/${token}|"
>
  <section class="content">
    <p class="h4 text-primary" th:text="#{html-password_recovery-title}"></p>
    <p>
      [[#{html-password_recovery-hint_1}]]<br />
      [[#{html-password_recovery-hint_2}]]
    </p>
    <ul class="password-requirements">
      <li
        id="bullet-length"
        th:text="#{html-password_recovery-requirement_1}"
      ></li>
      <li
        id="bullet-lowercase"
        th:text="#{html-password_recovery-requirement_2}"
      ></li>
      <li
        id="bullet-uppercase"
        th:text="#{html-password_recovery-requirement_3}"
      ></li>
      <li
        id="bullet-specialcase"
        th:text="#{html-password_recovery-requirement_4}"
      ></li>
      <li
        id="bullet-number"
        th:text="#{html-password_recovery-requirement_5}"
      ></li>
    </ul>
    <p class="center-content">
      <label
        for="password"
        th:text="#{html-password_recovery-new_password}"
      ></label>
      <br />
      <input
        class="input"
        id="password"
        name="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?=.*[0-9]).{8,}$"
        required
        type="password"
      />
      <input id="togglePassword" type="checkbox" />
      <label
        class="toggle-password-label"
        for="togglePassword"
        th:text="#{html-password_recovery-show_password}"
      ></label>
    </p>
    <p class="center-content">
      <button
        class="btn"
        th:text="#{html-password_recovery-save_password}"
        type="submit"
      ></button>
    </p>
  </section>
</form>
<script>
  const lengthRegex = new RegExp("^.{8,}$");
  const lowercaseRegex = new RegExp("^(?=.*[a-z]).+$");
  const uppercaseRegex = new RegExp("^(?=.*[A-Z]).+$");
  const specialcaseRegex = new RegExp("^(?=.*\\W).+$");
  const numberRegex = new RegExp("^(?=.*[0-9]).+$");

  const bulletLength = document.querySelector("#bullet-length");
  const bulletLowercase = document.querySelector("#bullet-lowercase");
  const bulletUppercase = document.querySelector("#bullet-uppercase");
  const bulletSpecialcase = document.querySelector("#bullet-specialcase");
  const bulletNumber = document.querySelector("#bullet-number");

  const passwordField = document.querySelector("#password");
  passwordField.addEventListener("input", function (_) {
    if (lengthRegex.test(this.value)) {
      bulletLength.style.listStyleType = '"✅"';
    } else {
      bulletLength.style.listStyleType = '"❌"';
    }

    if (lowercaseRegex.test(this.value)) {
      bulletLowercase.style.listStyleType = '"✅"';
    } else {
      bulletLowercase.style.listStyleType = '"❌"';
    }

    if (uppercaseRegex.test(this.value)) {
      bulletUppercase.style.listStyleType = '"✅"';
    } else {
      bulletUppercase.style.listStyleType = '"❌"';
    }

    if (specialcaseRegex.test(this.value)) {
      bulletSpecialcase.style.listStyleType = '"✅"';
    } else {
      bulletSpecialcase.style.listStyleType = '"❌"';
    }

    if (numberRegex.test(this.value)) {
      bulletNumber.style.listStyleType = '"✅"';
    } else {
      bulletNumber.style.listStyleType = '"❌"';
    }
  });

  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");
  togglePassword.addEventListener("click", function () {
    password.type = password.type === "password" ? "text" : "password";
  });
</script>
