name: FlavorMate server test workflow
on:
  push:
    branches-ignore:
      - main

jobs:
  build-jar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build -Dquarkus.package.jar.type=uber-jar -Dquarkus.package.jar.add-runner-suffix=false -x test

      - name: Rename JAR File
        run: mv build/flavormate-*.jar build/flavormate-server.jar
